
.imgg {
width: 300px;
height: 250px;
}
.secc{
float: left;
margin: 10px;
  

}
.par{
    width: 200px;
  text-align: center;
  
  overflow: visible;
}

.clearr{
    clear: both; 
}

.both{
    clear: both;
}
.chef{
    
        display: block;
        margin-left: auto;
        margin-right: auto;

        width: 300px;
      height: 300px;
}
.chef2{
    text-align: center;
    overflow: visible;
   
    
}

.pagination {
    
   
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  h3{
      font-size: 25px;
  }
h1{
    font-size: 50px;
}

  ol, ul {
	list-style: circle;
}
ul{
    margin-left: 20px;
}
#fin{
    text-align: center;
}
#fin1{
    float: right;
}
#firs{
    float: left;
    
}

#firs1{
    text-align: center;
}
#firs2{
    float: right;
    
}
a{
    text-decoration: none;
}
